<div id="blue-wrapper">

	<div id="heart-img">
		<%= image_tag("blue-heart.png", :alt => "Heart & Dots") %>
	</div> 

	<div id="main-title">
		Question 2
	</div>

	<div class="center lg-grey" id="heart-text">
		2. I swing both ways, but i’m as straight as they come, I’m also two faced, but i’ll help you all day long!
	</div>
	
	<div id="platto">
		<div class="hide" id="platto-img">
			<div id="door">
				<%= image_tag("door.png", :alt => "Door") %>
			</div> 
		</div> 
		<div class="lg-grey" id="platto-text">

		</div>
	</div>

	<div id="form-wrapper">
		<%= form_tag do %>

	    <%= text_field_tag :answer, "", placeholder: "Enter your answer here!" %>
			<div id="submit-ans">
				Submit Answer
			</div>
			<div class="lg-grey" id="hint">
				HINT
			</div>
		<% end %>
	</div>

	<div class="hide" id="end-text">
		CHEAT!!! One room to the next!
	</div>

	<div id="menu">
		<%= link_to level_five_path do %>
			<div class="hide center" id="large-btn">
				LET'S CONTINUE...
			</div>
		<% end %>
	</div>

	<div class="hide" id="correct-monsty">
		<%= image_tag("monsty2.png", :alt => "Correct") %>
	</div>

</div>

<script>

	var mySubmit = document.getElementById("submit-ans");
	var userAnswer = document.getElementById("answer");
	var endText = document.getElementById("end-text");
	var hint = document.getElementById("hint");
	var monsty = document.getElementById("correct-monsty");
	var cont = document.getElementById("large-btn");
	var platto = document.getElementById("platto-img");

	$(document).ready(function() {
		userAnswer.value = "";
	});

	hint.addEventListener("click", function(){
		endText.className = "lg-grey";
		endText.innerHTML = "CHEAT!!! One room to the next!"
	});

	mySubmit.addEventListener("click", function(){
		var downAns = userAnswer.value.toLowerCase();
		var correctAns = "door";

		if (downAns.includes(correctAns)) {
			monsty.className = "";	
			cont.className = "center";
			platto.className = ""
			endText.innerHTML = "Super Scootin' Yellowbean!";
			endText.className = "lg-grey";
		}	
		else {
			userAnswer.value = "";
			endText.innerHTML = "NOB NOB!!! Try Again."
			endText.className = "lg-grey";
		}
	});
	
</script>